<a href="https://colab.research.google.com/github/TaesanJang/Data-Analysis-with-Open-Source/blob/main/%EC%98%A4%ED%94%88%EC%86%8C%EC%8A%A4_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B6%84%EC%84%9D_3%EA%B0%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



# 오픈소스 기반 데이터 분석 3강 - 데이터 분석을 위한 파이썬 2

## 3-1 언패킹

In [ ]:
coordinates = (10, 20)
x, y = coordinates
# 튜플 언패킹

print(f'x좌표: {x}, y좌표: {y}')

rgb = [255, 128, 0]
# 리스트 언패킹

print(f'빨강: {red}, 초록: {green}, 파랑: {blue}')

word = 'ABC'
# 문자열 언패킹

print(f'첫 번째 문자: {first}, 두 번째 문자: {second}, 세 번째 문자: {third}')

In [ ]:
def get_dataset_stats(values):
  return min(values), max(values), sum(values) / len(values)

data = [12, 8, 21, 17, 5, 32, 14]

# 함수값 return 언패킹
minimum, maximum, average = get_dataset_stats(data)
print(f'최솟값: {minimum}, 최댓값: {maximum}, 평균: {average:.2f}')

최솟값: 5, 최댓값: 32, 평균: 15.57

In [ ]:
student_scores = [
    ('김철수', 85, 92, 78),
    ('이영희', 92, 88, 95),
    ('박지민', 75, 83, 90)
]

# 반복문에서 언패킹 사용
for name, database, python, cloud in student_scores:
  average = (database + python + cloud) / 3
  print(f'{name}의 평균 점수: {average:.1f}')

김철수의 평균 점수: 85.0
이영희의 평균 점수: 91.7
박지민의 평균 점수: 82.7

In [ ]:
monthly_sales = [1200, 1350, 1420, 1500, 1300, 1580, 1620, 1700, 1800, 1850, 1900, 2000]

# 1월, 2월 및 나머지 월 매출액
first, second, *remaining = monthly_sales
print(f'1월 판매액: {first}')
print(f'2월 판매액: {second}')
print(f'나머지 월 판매액: {remaining}')

# 1월, 12월 및 나머지 월 매출액
first, *middle, last = monthly_sales
print(f'첫 달(1월) 판매액: {first}')
print(f'마지막 달(12월) 판매액: {last}')
print(f'중간 달(2~11월)의 판매액: {middle}')

1월 판매액: 1200
2월 판매액: 1350
나머지 월 판매액: [1420, 1500, 1300, 1580, 1620, 1700, 1800, 1850, 1900, 2000]
첫 달(1월) 판매액: 1200
마지막 달(12월) 판매액: 2000
중간 달(2~11월)의 판매액: [1350, 1420, 1500, 1300, 1580, 1620, 1700, 1800, 1850, 1900]

## 3-5 언더스코어

In [ ]:
students = [
    (20251234, '김철수', '컴퓨터과학', 2, 3.8),
    (20265678, '이영희', '생활과학부', 3, 4.2),
    (20243456, '박민수', '사회복지학과', 1, 3.5)
]

# 이름 및 성적 만 출력
for    :
    print(f'{name}의 성적: {grade}')

In [ ]:
def get_coordinates( ):
    return (10, 20, 30)

# 함수 return 값 언더스코어 사용
_, y, _ = get_coordinates()

print(y)

20

## 3-2 예외 처리

In [ ]:
number = int(input('정수를 입력하세요: '))
result = 10 / number
print(f'결과: {result}')

In [ ]:
# try 문
try:
    number = int(input('정수를 입력하세요: '))
    result = 10 / number
    print(f'결과: {result}')

# except 문
except ZeroDivisionError:
    print('0으로 나눌 수 없습니다.')
except ValueError:
    print('유효한 숫자를 입력해야 합니다.ㅋㅋ')

In [ ]:
# try 문
number = int(input('숫자를 입력하세요: '))
result = 10 / number

# except 문 1
print('유효한 숫자를 입력해야 합니다.')

# except 문 2
print('0으로 나눌 수 없습니다.')

print(f'결과: {result}')

In [ ]:
# try 문
try:
    file = open('data.csv', 'r')
    content = file.read( )
    print(content)

# except 문
print('파일을 찾을 수 없습니다.')

# fianlly 블럭
finally:
    print('파일 작업 종료.')
    file.close( )

## 3-3 함수형 프로그래밍

In [ ]:
employees = {
    '이지혜': 3000000,
    '구민준': 5000000,
    '방서연': 4100000
}

# 함수 정의: salary * 1.1
adjust_salary = lambda salary: salary * 1.1
updated_salaries = {name: adjust_salary(salary) for name, salary in employees.items()}
# 급여 인상

print(updated_salaries)

{'이지혜': 3300000.0000000005, '구민준': 5500000.0, '방서연': 4510000.0}

In [ ]:
temperature_celsius = [25.6, 27.8, 30.5, 22.3, 28.9, 31.2, 24.7]

# 함수 정의: 섭씨 -> 화씨
cel_to_fah = lambda c: (c * 9/5) + 32
# 온도 변환
temperature_fahrenheit = list(map(cel_to_fah, temperature_celsius))

print('섭씨 온도 데이터:', temperature_celsius)
print('화씨 온도로 변환:', temperature_fahrenheit)

섭씨 온도 데이터: [25.6, 27.8, 30.5, 22.3, 28.9, 31.2, 24.7]
화씨 온도로 변환: [78.08, 82.04, 86.9, 72.14, 84.02, 88.16, 76.46]

In [ ]:
words = ['python', 'data', 'analysis']

# 함수 정의 및 대문자화


print(uppercase_words)

In [ ]:
employees = [
    {'name': '김지원', 'salary': 3700000},
    {'name': '박민준', 'salary': 7000000},
    {'name': '이서연', 'salary': 4400000},
    {'name': '정현우', 'salary': 3500000}
]

# salary * 1.1


print('\n급여 인상 후:')

for emp in updated_employees:
    print(f'{emp['name']}: {int(emp['salary']):,}원')

In [ ]:
numbers = [10, 15, 20, 25, 30]

# 짝수 필터링


print(even_numbers)

In [ ]:
osda_students = [
    {'name': '김지원', 'score': 85},
    {'name': '이민준', 'score': 65},
    {'name': '박서연', 'score': 90},
    {'name': '정현우', 'score': 55},
    {'name': '최예은', 'score': 78}
]

# 70점 이상 학생 목록 생성
passed_students = list(filter (lambda students: students['score'] >= 70, osda_students))

for student in passed_students:
    print(f'이름: {student["name"]}, 점수: {student["score"]}')

이름: 김지원, 점수: 85
이름: 박서연, 점수: 90
이름: 최예은, 점수: 78

In [ ]:
from functools import reduce

numbers = [3, 7, 2, 9, 5]

# 최대값 생성
max_value = reduce(lambda x, y: x if x > y else y, numbers)

print(max_value)

9

In [2]:
import requests

url = "http://openapi.seoul.go.kr:8088/505a517a48786f7431334c6e53526e/json/energyUseDataSummaryInfo/1/5"
year = "2015"
mon = "01"

api_url = f"{url}/{year}/{mon}/"

response = requests.get(api_url)

if response.status_code == 200:
    print("api 호출 성공")
    print(response.json())
else:
    print(f"API 호출 실패: {response.status_code}")

api 호출 성공
{'energyUseDataSummaryInfo': {'list_total_count': 7, 'RESULT': {'CODE': 'INFO-000', 'MESSAGE': '정상 처리되었습니다'}, 'row': [{'YEAR': '2015', 'MON': '01', 'MM_TYPE': '개인', 'CNT': '767791', 'EUS': '193784708', 'EUS1': '194781915', 'EUS2': '204969429', 'ECO2_1': '-6090964', 'ECO2_2': '-2582568.736', 'GUS': '59133720', 'GUS1': '57163993', 'GUS2': '68297619', 'GCO2_1': '-3597086', 'GCO2_2': '-8057472.64', 'WUS': '12819757.886', 'WUS1': '12723680.426', 'WUS2': '12899476.73', 'WCO2_1': '8179.308', 'WCO2_2': '2715.530256', 'HUS': '22740838.937', 'HUS1': '23400055.303', 'HUS2': '27090493.875', 'HCO2_1': '-2504435.652', 'HCO2_2': '-33660084.213069', 'REG_DATE': '2015-06-04 17:03:55.0'}, {'YEAR': '2015', 'MON': '01', 'MM_TYPE': '학교', 'CNT': '1382', 'EUS': '134955565', 'EUS1': '128707423', 'EUS2': '145561511', 'ECO2_1': '-2178902', 'ECO2_2': '-923854.448', 'GUS': '9107197', 'GUS1': '8410968', 'GUS2': '10745416', 'GCO2_1': '-470995', 'GCO2_2': '-1055028.8', 'WUS': '2075819.2', 'WUS1': '2097433.8', 'WUS2': '2133200.8', 'WCO2_1': '-39498.1', 'WCO2_2': '-13113.3692', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2015-06-04 17:03:55.0'}, {'YEAR': '2015', 'MON': '01', 'MM_TYPE': '종교단체', 'CNT': '32', 'EUS': '372270', 'EUS1': '363376', 'EUS2': '411363', 'ECO2_1': '-15099.5', 'ECO2_2': '-6402.188', 'GUS': '53331', 'GUS1': '45727', 'GUS2': '63312', 'GCO2_1': '-1188.5', 'GCO2_2': '-2662.24', 'WUS': '5945', 'WUS1': '4548', 'WUS2': '4519', 'WCO2_1': '1411.5', 'WCO2_2': '468.618', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2015-06-04 17:03:55.0'}, {'YEAR': '2015', 'MON': '01', 'MM_TYPE': '소상공인', 'CNT': '2058', 'EUS': '10249618', 'EUS1': '9927610', 'EUS2': '11039593', 'ECO2_1': '-233983.5', 'ECO2_2': '-99209.004', 'GUS': '536119', 'GUS1': '523810', 'GUS2': '642921', 'GCO2_1': '-47246.5', 'GCO2_2': '-105832.16', 'WUS': '147273', 'WUS1': '146480.6', 'WUS2': '147325.6', 'WCO2_1': '369.9', 'WCO2_2': '122.8068', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2015-06-04 17:03:55.0'}, {'YEAR': '2015', 'MON': '01', 'MM_TYPE': '공동주택관리소', 'CNT': '1747', 'EUS': '327102096', 'EUS1': '329852334', 'EUS2': '351694752', 'ECO2_1': '-13671447', 'ECO2_2': '-5796693.528', 'GUS': '22834274', 'GUS1': '21141017', 'GUS2': '25338506', 'GCO2_1': '-405487.5', 'GCO2_2': '-908292', 'WUS': '12844807.5', 'WUS1': '12763070', 'WUS2': '12979835.8', 'WCO2_1': '-26645.4', 'WCO2_2': '-8846.2728', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2015-06-04 17:03:55.0'}]}}

In [33]:
import requests

API_KEY = "505a517a48786f7431334c6e53526e"
SERVICE = "energyUseDataSummaryInfo"
BASE = "http://openapi.seoul.go.kr:8088"

results = []

for YEAR in range(2015, 2024+1):
    for MON in range(1, 12+1):

url = f"{BASE}/{API_KEY}/json/{SERVICE}/1/5/{YEAR}/{MON:02d}/"

        resp = requests.get(url)       # timeout 제거
        resp.raise_for_status()

        payload = resp.json()
        block = payload[SERVICE]       # 기본값 처리 제거
        rows = block["row"]            # 기본값 처리 제거

        # MM_TYPE == '개인'만 필터 (키 없으면 KeyError 발생)
        rows_personal = [r for r in rows if str(r["MM_TYPE"]).strip() == "개인"]

        # 필요한 컬럼만 추출 (필드 없으면 KeyError 발생)
        for r in rows_personal:
            results.append({
                "YEAR": YEAR,
                "MON": f"{MON:02d}",
                "MM_TYPE": r["MM_TYPE"],
                "EUS": r["EUS"],  # 현년 전기사용량
                "GUS": r["GUS"],  # 현년 가스사용량
                "WUS": r["WUS"],  # 현년 수도사용량
                "HUS": r["HUS"],  # 현년 지역난방사용량
            })

print(f"총 수집 건수: {len(results)}")
print(results[:300])  # 미리보기

IndentationError: expected an indented block after 'for' statement on line 10 (ipython-input-3106182958.py, line 12)

In [4]:
import requests

API_KEY = "505a517a48786f7431334c6e53526e"
SERVICE = "energyUseDataSummaryInfo"
BASE = "http://openapi.seoul.go.kr:8088"

results = []

# 2015-01 ~ 2024-12 반복
for YEAR in range(2015, 2025):       # 2015..2024
    for MON in range(1, 13):          # 01..12
        # URL에 START/END를 변수 없이 고정값(1/1000)으로 직접 기입
        url = f"{BASE}/{API_KEY}/json/{SERVICE}/1/5/{YEAR}/{MON:02d}"

        resp = requests.get(url)       # timeout 제거
        resp.raise_for_status()

        payload = resp.json()
        block = payload[SERVICE]       # 기본값 처리 제거
        rows = block["row"]            # 기본값 처리 제거

        # MM_TYPE == '개인'만 필터 (키 없으면 KeyError 발생)
        rows_personal = [r for r in rows if str(r["MM_TYPE"]).strip() == "개인"]

        # 필요한 컬럼만 추출 (필드 없으면 KeyError 발생)
        for r in rows_personal:
            results.append({
                "YEAR": YEAR,
                "MON": f"{MON:02d}",
                "MM_TYPE": r["MM_TYPE"],
                "EUS": r["EUS"],  # 현년 전기사용량
                "GUS": r["GUS"],  # 현년 가스사용량
                "WUS": r["WUS"],  # 현년 수도사용량
                "HUS": r["HUS"],  # 현년 지역난방사용량
            })

print(f"총 수집 건수: {len(results)}")
print(results[:5])  # 미리보기

총 수집 건수: 83
[{'YEAR': 2015, 'MON': '01', 'MM_TYPE': '개인', 'EUS': '193784708', 'GUS': '59133720', 'WUS': '12819757.886', 'HUS': '22740838.937'}, {'YEAR': 2015, 'MON': '02', 'MM_TYPE': '개인', 'EUS': '189974230', 'GUS': '56487358', 'WUS': '12656888.218', 'HUS': '18793320.213'}, {'YEAR': 2015, 'MON': '05', 'MM_TYPE': '개인', 'EUS': '177289769', 'GUS': '22060892', 'WUS': '13086734.214', 'HUS': '1320895.801'}, {'YEAR': 2015, 'MON': '06', 'MM_TYPE': '개인', 'EUS': '186073153', 'GUS': '12677645', 'WUS': '14241651.402', 'HUS': '294312.634'}, {'YEAR': 2015, 'MON': '07', 'MM_TYPE': '개인', 'EUS': '165114568', 'GUS': '8893640', 'WUS': '12083879.038', 'HUS': '702863.645'}]